@section Styles {
    <link href="~/css/loginsite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
}
@{
    ViewData["Title"] = "重設密碼驗證";
}

<section class="my-lg-14 my-8">
    <div class="container" id="forgotPasswordConApp">
        <template v-if="loading == true">
            <div class="loading-overlay">
                <div class="loading-spinner"></div>
            </div>
        </template>
        <template v-else>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <img src="~/images/sifood_logo_bgclear.png" class="img-fluid" />
                </div>
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                    <div>
                        <div class="mb-lg-9 mb-5">
                            <h1>已寄送重設密碼驗證郵件</h1>
                            <p>
                                請前往您的電子郵件帳戶收取驗證碼，並在以下欄位輸入驗證碼，感謝!
                            </p>
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="請輸入驗證碼" required="" v-model="sendBackRandomCode">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" @@click="sendForgotPasswordRandom">驗證帳戶</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</section>

@section Scripts {
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var forgotPasswordConApp = Vue.createApp({
            data: function () {
                return {
                    sendBackRandomCode: "",
                    loading: false,
                }
            },
            methods: {
                sendForgotPasswordRandom() {
                    var _this = this;
                    _this.loading = true;
                    axios.post(`/Account/ConfirmForgotPasswordRandom`, {
                        UserAccountVerificationCode: _this.sendBackRandomCode,
                        Email: sessionStorage.getItem('email')
                    }, {
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(response => {
                        var successMessage = "驗證碼核對成功";
                        var iconType = response.data === successMessage ? 'success' : 'error';
                        Swal.fire({
                            icon: iconType,
                            title: iconType === 'success' ? '成功' : '錯誤',
                            text: response.data,
                        }).then((result) => {
                            if (response.data === successMessage) {
                                window.location.href = '/Users/Account/ResetPassword';
                            } else {
                                _this.sendBackRandomCode = "";
                            }
                            _this.loading = false;
                        });
                    }).catch(err => {
                        Swal.fire({
                            icon: 'error',
                            title: '發生錯誤',
                            text: err.toString(),
                        });
                    });
                },
            },
        }).mount("#forgotPasswordConApp")
    </script>
}