@section Styles {
    <link href="~/css/loginsite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
}
@{
    ViewData["Title"] = "忘記密碼";
}
<section class="my-lg-14 my-8">
    <div class="container" id="forgotPasswordApp">
        <template v-if="loading == true">
            <div class="loading-overlay">
                <div class="loading-spinner"></div>
            </div>
        </template>
        <template v-else>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <img src="~/images/sifood_logo_bgclear.png" class="img-fluid" />
                </div>
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                    <div>
                        <div class="mb-lg-9 mb-5">
                            <h1 class="mb-2 h2 fw-bold">忘記密碼了嗎?</h1>
                            <p>
                                請幫我在這裡輸入您的郵件, 將為你確認帳戶 並寄送驗證碼, 謝謝!
                            </p>
                        </div>
                        <div>
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="請輸入Email" required="" v-model="sendRandomVerification">
                                </div>
                                <div class="col-12 d-grid gap-2">
                                    <button type="submit" class="btn btn-primary" @@click="sendRandom">帳戶確認</button>
                                    <button class="btn btn-light" @@click="backToLogin">返回登入</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</section>

@section Scripts {
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var forgotPasswordApp = Vue.createApp({
            data: function () {
                return {
                    sendRandomVerification: "",
                    loading: false,
                }
            },
            methods: {
                sendRandom() {
                    var _this = this;
                    if (_this.sendRandomVerification == "") {
                        Swal.fire({
                            icon: 'error',
                            title: '錯誤',
                            text: '請先輸入Email帳號',
                        });
                    } else {
                        _this.loading = true;
                        sessionStorage.setItem('email', _this.sendRandomVerification);
                        axios.post(`/Account/ForgotPasswordSendEmail`, {
                            Account: _this.sendRandomVerification
                        }, {
                            headers: {
                                "Content-Type": "application/json"
                            }
                        }).then(response => {
                            var successMessage = "驗證碼寄送成功";
                            var iconType = response.data === successMessage ? 'success' : 'error';
                            Swal.fire({
                                icon: iconType,
                                title: iconType === 'success' ? '成功' : '錯誤',
                                text: response.data,
                            }).then((result) => {
                                if (response.data === successMessage) {
                                    window.location.href = '/Users/Account/ForgotPasswordConfirmation';
                                } else {
                                    _this.sendRandomVerification = "";
                                }
                                _this.loading = false;
                            });
                        }).catch(err => {
                            Swal.fire({
                                icon: 'error',
                                title: '發生錯誤',
                                text: err.toString(),
                            });
                        });
                    }
                },
                backToLogin() {
                    window.location.href = "/Users/Account/LoginRegister";
                },
            },
        }).mount("#forgotPasswordApp")
    </script>
}



