@section Styles {
    <link href="~/css/loginsite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
}
@{
    ViewData["Title"] = "密碼重設";
}

<section class="my-lg-14 my-8">
    <div class="container" id="resetPasswordApp">
        <template v-if="loading == true">
            <div class="loading-overlay">
                <div class="loading-spinner"></div>
            </div>
        </template>
        <template v-else>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <img src="~/images/sifood_logo_bgclear.png" class="img-fluid" />
                </div>
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                    <div>
                        <div class="mb-lg-5 mb-5">
                            <h1 class="mb-2 h2 fw-bold">重設您的密碼</h1>
                            <p>
                                設定您的新密碼
                            </p>
                        </div>
                        <div>
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="password" class="form-control" id="inputEmail4" placeholder="輸入您的新密碼" required="" v-model="resetUserPassword">
                                </div>
                                <div class="col-12">
                                    <input type="password" class="form-control" id="inputEmail4" placeholder="重新輸入您的新密碼" required="" v-model="resetUserPasswordConfirm">
                                </div>
                                <div class="col-12 d-grid gap-2">
                                    <button type="submit" class="btn btn-primary" @@click="resetPassword">密碼重設</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</section>

@section Scripts {
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var forgotPasswordApp = Vue.createApp({
            data: function () {
                return {
                    confirmEamil: sessionStorage.getItem('email'),
                    resetUserPassword: "",
                    resetUserPasswordConfirm: "",
                    loading: false,
                }
            },
            methods: {
                resetPassword() {
                    var _this = this;
                    if (_this.resetUserPassword != _this.resetUserPasswordConfirm) {
                        Swal.fire({
                            icon: 'error',
                            title: '錯誤',
                            text: '新密碼輸入不一致',
                        });
                    }
                    else {
                        _this.loading = true;
                        var form = new FormData();
                        form.append("UserConfirmEmail", _this.confirmEamil);
                        form.append("NewPassword", _this.resetUserPassword);
                        axios.post(`/Account/ResetPassword`, form, {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        }).then(response => {
                            var successMessage = "密碼重設成功, 即將回到登入畫面";
                            var iconType = response.data === successMessage ? 'success' : 'error';
                            Swal.fire({
                                icon: iconType,
                                title: iconType === 'success' ? '操作成功' : '操作失敗',
                                text: response.data,
                            }).then((result) => {
                                if (response.data === successMessage) {
                                    window.location.href = '/Users/Account/LoginRegister';
                                } else {
                                    _this.confirmEamil = "";
                                    _this.resetUserPassword = "";
                                    _this.resetUserPasswordConfirm = "";
                                }
                                _this.loading = false;
                            });
                        }).catch(err => {
                            Swal.fire({
                                icon: 'error',
                                title: '發生錯誤',
                                text: err.toString(),
                            });
                        });
                    }
                },
            },
        }).mount("#resetPasswordApp")
    </script>
}


