@section Styles {
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme.css" rel="stylesheet" />
    <link href="~/css/loginsite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
}
@{
    ViewData["Title"] = "店家密碼設定";
}

<div class="container" id="storeSetPasswordApp">
    <template v-if="loading == true">
        <div class="loading-overlay">
            <div class="loading-spinner"></div>
        </div>
    </template>
    <template v-else>
        <div class="text-center">
            <img src="~/images/sifood_logo_bgclear.png" style="width:350px" />
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-2 order-1">
                    <div class="mb-lg-9 mb-5">
                        <h1 class="mb-1 h2 fw-bold text-center">設定SiFood店家平台帳號</h1>
                        <p class="text-center">恭喜您驗證成功，請設定您的密碼</p>
                    </div>
                    <div>
                        <div class="row g-3">
                            <div class="col-12">
                                <input type="password" class="form-control" placeholder="請輸入您要設定的密碼" required v-model="storePassword">
                            </div>
                            <div class="col-12">
                                <div class="password-field position-relative">
                                    <input type="password" placeholder="密碼確認" class="form-control" required v-model="confirmPassword">
                                </div>
                            </div>
                            <div class="col-12 d-grid">
                                <button class="btn btn-primary" @@click="setPassword">設定密碼</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>

@section Scripts {
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/js/dropdown.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var setAccountApp = Vue.createApp({
            data: function () {
                return {
                    storePassword: "",
                    confirmPassword: "",
                    loading: false,
                }
            },
            methods: {
                setPassword() {
                    var _this = this;
                    if (_this.storePassword != _this.confirmPassword) {
                        Swal.fire({
                            icon: 'error',
                            title: '錯誤',
                            text: '密碼輸入不一致',
                        })
                    } else if (_this.storePassword == "" || _this.confirmPassword == "" || _this.storeEmail == "") {
                        Swal.fire({
                            icon: 'error',
                            title: '錯誤',
                            text: '輸入行不能為空',
                        })
                    } else {
                        _this.loading = true;
                        var form = new FormData();
                        var storeEmail = _this.getCookie("email");
                        form.append("StoreAccount", storeEmail);
                        form.append("SetPassword", _this.storePassword);
                        axios.post(`/Account/SetPassword`, form, {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        }).then(response => {
                            var successMessage = "密碼設定成功，請重新登入";
                            var iconType = response.data === successMessage ? 'success' : 'error';
                            Swal.fire({
                                icon: iconType,
                                title: iconType === 'success' ? '操作成功' : '操作失敗',
                                text: response.data,
                            }).then((result) => {
                                if (response.data === successMessage) {
                                    window.location.href = '/Stores/Account/Login';
                                } else {
                                    _this.storeEmail = "";
                                    _this.storePassword = "";
                                    _this.confirmPassword = "";
                                }
                                _this.loading = false;
                            });
                        }).catch(err => {
                            Swal.fire({
                                icon: 'error',
                                title: '發生錯誤',
                                text: err.toString(),
                            });
                        });
                    }
                },
                getCookie(name) {
                    var nameEQ = name + "=";
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i];
                        while (cookie.charAt(0) == ' ') {
                            cookie = cookie.substring(1, cookie.length);
                        }
                        if (cookie.indexOf(nameEQ) == 0) {
                            return cookie.substring(nameEQ.length, cookie.length);
                        }
                    }
                    return null;
                },
            },
        }).mount("#storeSetPasswordApp")
    </script>
}