@model sifoodproject.Models.User

<div class="modal fade" id="DeleteUser-@Model.UserId" tabindex="-1" role="dialog" aria-labelledby="DeleteUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditUserLabel">刪除顧客資料</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form asp-action="Delete1" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="UserId" />
                            <p>確定要刪除此客戶資料?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="submit" class="btn btn-primary">刪除</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>