<!-- 引用Layout -->
@{
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<!-- Title -->
@{
    ViewData["Title"] = "常見問題";
}
<!-- section -->
<main>
    <div class="mt-4">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Main">首頁</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="FAQ">常見問題</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">Freshcart Blog</li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mt-8">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-12">
                    <h1 class="fw-bold">常見問題</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- section -->
    <section class="mt-6 mb-lg-14 mb-8">
        <!-- container -->
        <div class="container">
            <div class="row d-flex align-items-center mb-8">
                <div class="col-12 col-md-12 col-lg-8">
                    <a href="#!">
                        <!-- img -->
                        <div class="img-zoom">
                            <img src="~/images/users/faq/userfaqflowchartv3.png" alt="購物流程" class="img-fluid w-100">
                            <!-- <img src="~/assets/images/blog/blog-large.jpg" alt="" class="img-fluid w-100"> -->
                        </div>
                    </a>
                </div>
                <!-- text -->
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="ps-lg-8 mt-8 mt-lg-0">
                        <!-- text -->
                        <div class="mb-3">
                            <a href="#!">Buying Guide</a>
                        </div>
                        <h2 class="mb-3"><a href="#!" class="text-inherit">購買指南</a></h2>
                        <div class="d-flex justify-content-between text-muted">
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-1.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Purchase Issues</a>
                    </div>
                    <!-- text -->
                    <div>
                        <h2 class="h5"><a href="#!" class="text-inherit">購買問題</a></h2>
                        <p>
                            <ol class="lead">
                                <li>如何成為會員？</li>
                                <div>在首頁點選註冊，將一步一步引導。</div>
                                <li>如何在網站上開始購買即期品？</li>
                                <div>可以參考上方的購買指南喔。</div>
                                <li>是否有最低購買金額或數量的要求？</li>
                                <div>沒有最低金額限制，歡迎購買。</div>
                            </ol>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-2.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Pricing and Payment</a>

                    </div>
                    <!-- text -->
                    <div>
                        <h2 class="h5"><a href="#!" class="text-inherit">價格與支付</a></h2>
                        <p>
                            <ol class="lead">
                                <li>購買即期商品的折扣率是多少？</li>
                                <div> 惜食平台販售價格是原定價的65折。</div>
                                <li>可以使用哪些支付方式？</li>
                                <div> 目前僅接受信用卡，其他付款方式將在未來開通。</div>
                                <li>購買後是否會立即扣款？</li>
                                <div>會喔，有問題都可以退款。</div>
                            </ol>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-1.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>

                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Product Information</a>
                    </div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">產品資訊</a></h2>
                        <p>
                            <ol class="lead">
                                <li>即期商品的品質是否有保證？</li>
                                <div>即期商品商品全都還在安全使食用期內，品質都是沒問題的。</div>
                                <li>如果購買的商品有問題，該如何處理？</li>
                                <div>請直接致電店家做後續處理。</div>
                                <li>如何獲得更多優惠信息</li>
                                <div>訂閱我們的電子郵件通知，您將獲得最新的優惠和促銷信息。</div>
                            </ol>
                        </p>
                        <!-- <div class="d-flex justify-content-between text-muted mt-4"><span><small>18 April 2023</small></span><span><small>Read time: <span class="text-dark fw-bold">5min</span></small></span> -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-4.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Shipping Issues</a>
                    </div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">運送問題</a></h2>
                        <p>
                            <ol class="lead">
                                <li>可以選擇哪些送貨或自取的方式？</li>
                                <div>自取請參照店家資訊；送貨將由我們安排外送員給您。</div>
                                <li>雙北以外的區域是否可以送貨？</li>
                                <div>暫時沒辦法喔～</div>
                                <li>從訂購到送達的大致時間需要多久？</li>
                                <div>會依照您的位置而定，外送員都會盡量用最快的速度送達。</div>
                            </ol>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-5.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <div class="mb-3">
                        <a href="#!">Returns and Exchanges Issues</a>
                    </div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">退換貨問題</a></h2>
                        <p>
                            <ol class="lead">
                                <li>購買的即期商品是否可以退換？</li>
                                <div>考量衛生與安全，不提供退換。</div>
                                <li>如果要求退換，流程是如何的？</li>
                                <div>如確認是品質問題，會直接退款給您。</div>
                                <li>下單後可以取消嗎？</li>
                                <div>是的，訂單在下單後10分鐘內可取消，系統將自動退款。</div>
                            </ol>

                        </p>
                        <!-- <div class="d-flex justify-content-between text-muted mt-4"><span><small>12 April 2023</small></span><span><small>Read time: <span class="text-dark fw-bold">12min</span></small></span> -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-6.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <!-- text -->
                    <div class="mb-3"><a href="#!">Business Hours</a></div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">營業相關 </a></h2>
                        <p>
                            <ol class="lead">
                                <li>網站接受訂單的時間有何限制?</li>
                                <div>原則上都以各店家營業時間為主喔。</div>
                                <li>我可以提前預訂嗎？</li>
                                <div>惜食平台上的產品通常需要即時購買，不提供預訂服務。</div>
                                <li>如何聯繫客服?</li>
                                <div>您可以通過平台提供的聯繫方式或電子郵件聯繫我們的客服團隊。</div>
                            </ol>

                        </p>
                        <!-- <div class="d-flex justify-content-between text-muted mt-4"><span><small>14 April 2023</small></span><span><small>Read time: <span class="text-dark fw-bold">6min</span></small></span> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



