// Body

body {
    -webkit-font-smoothing: antialiased;
}

// Links
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    letter-spacing: -0.03rem;
}
