//
// Extend from bootstrap
//

// Table
table tr:last-child td {
  border-bottom-width: 0px;
}

// Table centered
.table-centered td,
.table-centered th {
  vertical-align: middle !important;
}

// Table with Checkbox
.table-with-checkbox > tbody > tr > td:first-child,
.table-with-checkbox > thead > tr > th:first-child {
  width: 1px;
  padding-right: 0px;
}
