@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

    <style>
        th {
            border-bottom: none !important;
        }

        [v-cloak] {
            display: none;
        }
    </style>
    }
@{
    ViewData["Title"] = "即時訂單";
}
<body>

    <!-- main -->
    <div class="main-wrapper">
        <!-- main wrapper -->
        <main class="main-content-wrapper" id="orderApp" v-cloak>
            <div class="container">
                <!-- row -->
                <div class="row mb-8">
                    <div class="col-md-12">
                        <!-- page header -->
                        <div>
                            <h2>即時訂單</h2>
                            <!-- breacrumb -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="/Stores/Home/Main">店家</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">即時訂單</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-12 mb-5">
                        <!-- card -->
                        <div class="card h-100 card-lg">
                            <div class=" p-6 ">
                                <div class="row justify-content-between">
                                    <div class="col-md-4 col-12 mb-2 mb-md-0">
                                        <!-- form -->
                                        <div class="d-flex" role="search">
                                            <input class="form-control" type="search" placeholder="搜尋即時訂單" aria-label="Search" v-model="searchKeyWords" @@keyup.enter="searchOrder">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-12">
                                        <!-- select -->
                                        <select class="form-select" v-model="selectedStatus" @@change="filterOrdersByStatus">
                                            <option value=0 selected>全部訂單</option>
                                            <option value=1>待確認</option>
                                            <option value=2>待配送</option>
                                            <option value=3>待領取</option>
                                            <option value=4>配送中</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body p-0">
                                <!-- table responsive -->
                                <div class="table-responsive">
                                    <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                        <thead class="bg-light">
                                            <tr>
                                                <th>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="checkAll">
                                                        <label class="form-check-label" for="checkAll">

                                                        </label>
                                                    </div>
                                                </th>
                                                <th>訂單編號</th>
                                                <th>商品數量</th>
                                                <th>訂單日期</th>
                                                <th>取餐方式</th>
                                                <th>訂單狀態</th>
                                                <th>訂購總額</th>
                                                <th>是否接單</th>
                                            </tr>
                                        </thead>
                                        <tbody v-for="item in filterOrders">
                                            <tr>

                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="orderOne">
                                                        <label class="form-check-label" for="orderOne">

                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{item.orderId}}
                                                    <a href="#" class="text-inherit"
                                                       data-bs-toggle="collapse"
                                                       :data-bs-target="'#orderDetails' + item.orderId"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-placement="top"
                                                       data-bs-title="View">
                                                        <i class="feather-icon icon-eye"></i>
                                                    </a>
                                                </td>
                                                <td>{{item.totalQuantity}}</td>

                                                <td>{{item.orderDate}}</td>
                                                <td>{{item.deliveryMethod}}</td>

                                                <td>
                                                    <template v-if="item.statusId === 1">
                                                        <span class="badge bg-warning">{{item.status}}</span>
                                                    </template>
                                                    <template v-else-if="item.statusId === 2 ">
                                                        <span class="badge bg-info">{{item.status}}</span>
                                                    </template>
                                                    <template v-else-if="item.statusId === 3 ">
                                                        <span class="badge bg-secondary">{{item.status}}</span>
                                                    </template>
                                                    <template v-else-if="item.statusId === 4">
                                                        <span class="badge bg-primary">{{item.status}}</span>
                                                    </template>
                                                </td>
                                                <td>${{item.subtotal+item.shippingFee}}</td>

                                                <td>
                                                    <template v-if="item.statusId === 1">
                                                        <!-- Accept Order Button -->
                                                        <button v-on:click="confirmAcceptOrder(item)" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" :title="'接單時限: ' + (10-Math.round(item.orderDuration)) + '分鐘'">接單</button>
                                                        <!-- Decline Order Button -->
                                                        <button v-on:click="confirmCancelOrder(item)" class="btn btn-danger btn-sm" style="margin-left: 3px;">退單</button>
                                                    </template>
                                                </td>
                                            </tr>
                                            <!--collapsible row for order details -->
                                            <tr>
                                                <td colspan="8" class="p-0">
                                                    <div class="collapse" :id="'orderDetails' + item.orderId">
                                                        <div class="p-3">
                                                            <div class="row ">
                                                                <div class="col-xl-12 col-12 mb-5">
                                                                    <!-- card -->
                                                                    <div class="card h-100 card-lg">
                                                                        <div class="card-body p-6">
                                                                            <div class="d-md-flex justify-content-between">
                                                                                <div class="d-flex align-items-center mb-2 mb-md-0">
                                                                                    <h2 class="mb-0">訂單明細</h2>

                                                                                </div>
                                                                            </div>
                                                                            <div class="mt-8">
                                                                                <div class="row">
                                                                                    <div class="col-lg-4 col-md-4 col-12">
                                                                                        <div class="mb-6">
                                                                                            <h6>顧客資訊</h6>
                                                                                            <p class="mb-1 lh-lg">
                                                                                                {{item.userName}}<br>
                                                                                                {{item.userEmail}}<br>
                                                                                                {{item.userPhone}}
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- address -->
                                                                                    <div class="col-lg-4 col-md-4 col-12" v-if="item.deliveryMethod === '外送'">
                                                                                        <div class="mb-6">
                                                                                            <h6>收件地址</h6>
                                                                                            <p class="mb-1 lh-lg">
                                                                                                {{item.address}}
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-12">
                                                                                        <div class="mb-6">
                                                                                            <h6>訂單資訊</h6>
                                                                                            <p class="mb-1 lh-lg">
                                                                                                訂單編號: <span class="text-dark">{{item.orderId}}</span><br>
                                                                                                訂購時間: <span class="text-dark">{{item.orderDate}} {{item.orderTime}}</span><br>
                                                                                                訂單金額: <span class="text-dark">${{item.subtotal+item.shippingFee}}</span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="table-responsive">
                                                                                    <!-- Table -->
                                                                                    <table class="table mb-0 text-nowrap table-centered">
                                                                                        <!-- Table Head -->
                                                                                        <thead class="bg-light">
                                                                                            <tr>
                                                                                                <th>商品</th>
                                                                                                <th>單價</th>
                                                                                                <th>數量</th>
                                                                                                <th>總計</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <!-- tbody -->
                                                                                        <tbody>
                                                                                            <tr v-for="product in item.orderDetails">
                                                                                                <td>
                                                                                                    <a href="#" class="text-inherit">
                                                                                                        <div class="d-flex align-items-center">
                                                                                                            <div>
                                                                                                                <img :src="product.photoPath" alt=""
                                                                                                                     class="icon-shape icon-lg">
                                                                                                            </div>
                                                                                                            <div class="ms-lg-4 mt-2 mt-lg-0">
                                                                                                                <h5 class="mb-0 h6">
                                                                                                                    {{product.productName}}
                                                                                                                </h5>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td><span class="text-body">${{product.unitPrice}}</span></td>
                                                                                                <td>{{product.quantity}}</td>
                                                                                                <td>${{product.total}}</td>
                                                                                            </tr>
                                                                                            <template v-if="item.deliveryMethod === '外送'">
                                                                                                <tr>
                                                                                                    <td class="border-bottom-0 pb-0"></td>
                                                                                                    <td class="border-bottom-0 pb-0"></td>
                                                                                                    <td colspan="1" class="fw-medium text-dark ">
                                                                                                        <!-- text -->
                                                                                                        小計
                                                                                                    </td>
                                                                                                    <td class="fw-medium text-dark ">
                                                                                                        <!-- text -->
                                                                                                        ${{item.subtotal}}
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="border-bottom-0 pb-0"></td>
                                                                                                    <td class="border-bottom-0 pb-0"></td>
                                                                                                    <td colspan="1" class="fw-medium text-dark ">
                                                                                                        <!-- text -->
                                                                                                        運費
                                                                                                    </td>
                                                                                                    <td class="fw-medium text-dark  ">
                                                                                                        <!-- text -->
                                                                                                        ${{item.shippingFee}}
                                                                                                    </td>
                                                                                                </tr>

                                                                                            </template>
                                                                                            <tr>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                                <td colspan="1" class="fw-semi-bold text-dark ">
                                                                                                    <!-- text -->
                                                                                                    總額
                                                                                                </td>
                                                                                                <td class="fw-semi-bold text-dark ">
                                                                                                    <!-- text -->
                                                                                                    ${{item.subtotal+item.shippingFee}}
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="border-top d-md-flex justify-content-between align-items-center p-6">
                                <span>
                                    顯示第 {{ Math.min((page.countPerPage * (page.pageNumber - 1)) + 1, ordersCount) }}
                                    至 {{ Math.min(page.countPerPage * page.pageNumber, ordersCount) }} 項，共 {{ ordersCount }} 筆訂單
                                </span>
                                <nav class="mt-2 mt-md-0">
                                    <paginate :page-count="total"
                                              :click-handler="pageClick"
                                              :force-page="page.pageNumber"
                                              :prev-text="'<'"
                                              :next-text="'>'"
                                              :page-link-class="'page-link mx-1'"
                                              :prev-link-class="'page-link mx-1'"
                                              :next-link-class="'page-link mx-1'"
                                              :container-class="'pagination justify-content-center'">
                                    </paginate>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    @section Scripts{

        <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            var isLoggedIn = ('@User.Identity.IsAuthenticated' == "True");
            const orderApp = Vue.createApp({
                data: function () {
                    return {
                        orders: [],
                        orderDetails: [],
                        searchKeyWords: "",
                        ordersCount: 0,
                        page: {
                            countPerPage: 5,
                            pageNumber: 1,
                        },
                        selectedStatus: 0,
                    }
                },
                computed: {
                    total() {
                        let _this = this;
                        return Math.ceil(_this.ordersCount / this.page.countPerPage);
                    },
                    filterOrders() {
                        let _this = this;
                        var start = (this.page.pageNumber - 1) * this.page.countPerPage;
                        var end = start + this.page.countPerPage;
                        return _this.orders.slice(start, end);
                    },
                },
                mounted: function () {
                    let _this = this;
                    _this.getOrder();
                },
                methods: {
                    filterOrdersByStatus() {
                        this.getOrder();
                    },
                    pageClick(num) {
                        this.page.pageNumber = num;
                    },
                    searchOrder() {
                        this.getOrder();
                    },
                    confirmCancelOrder(item) {
                        Swal.fire({
                            title: "是否確定取消訂單?",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "確定",
                            cancelButtonText: "取消",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                this.cancelOrder(item);
                            }
                        });

                    },
                    confirmAcceptOrder(item) {
                        Swal.fire({
                            title: "是否確定接受訂單?",
                            icon: "info",
                            showCancelButton: true,
                            confirmButtonText: "確定",
                            cancelButtonText: "取消",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                this.acceptOrder(item);
                            }
                        });

                    },
                    cancelOrder(item) {
                        this.updateOrderStatus(item, 7)
                        item.statusId = 7;
                        this.orders = this.orders.filter(order => order.orderId !== item.orderId);
                        Swal.fire({
                            icon: 'success',
                            title: '成功!',
                            text: "訂單已取消!"
                        });
                    },
                    acceptOrder(item) {
                        if (item.deliveryMethod === '自取') {
                            this.updateOrderStatus(item, 3)
                            item.statusId = 3;
                            item.status = "待領取";
                        } else {
                            this.updateOrderStatus(item, 2)
                            item.statusId = 2;
                            item.status = "待配送";
                        }
                        Swal.fire({
                            icon: 'success',
                            title: '成功!',
                            text: "訂單已接受!"
                        });
                    },

                    updateOrderStatus(item, newStatusId) {

                        fetch(`/api/StoreRealTimeOrdersapi/${item.orderId}`, {
                            method: "PUT",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                orderId: item.orderId,
                                statusId: newStatusId,
                            }),
                        }).then(response => {
                            if (!response.ok) {
                                Swal.fire({
                                    icon: 'error',
                                    text: "發生錯誤!"
                                });
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                        }).then(data => {
                        }).catch(error => {
                            console.error("PUT 請求發生錯誤:", error);
                        });
                    },
                    getOrder() {
                        if (isLoggedIn) {
                            let _this = this;
                            fetch(`/api/StoreRealTimeOrdersapi/filter?searchKeyWords=${_this.searchKeyWords}&status=${_this.selectedStatus}`, { method: "GET" })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error(`HTTP error! Status: ${response.status}`);
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    _this.orders = data;
                                    _this.page.pageNumber = 1;
                                    _this.ordersCount = _this.orders.length;
                                }).catch(error => {
                                    console.log(error);
                                });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                text: '請先登入!',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: '確定'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    console.log('確定');
                                    window.location.href = "/Stores/account/login";
                                }
                            });
                        }
                    },
                }
            }).component("paginate", VuejsPaginateNext).mount("#orderApp")
        </script>
    }

</body>

