@model OrderManageVM
      
@{
    ViewData["Title"] = "修改訂單明細";
    Layout = "_AdminLayout";
    <link rel="shortcut icon" href="~/images/sifood_logo_bgclear.png">
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme.min.css" rel="stylesheet" />
}
<h1>修改</h1>

<h4>訂單明細</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <dt >訂單編號</dt>
                <dd >
                    @Html.DisplayFor(model => model.OrderId)
                </dd>
            </div>
            <div class="form-group">
                <label asp-for="OrderAddress" class="control-label">收貨地址</label>
                <input asp-for="OrderAddress" class="form-control" asp-items="ViewBag.OrderDetailId" />
                <span asp-validation-for="OrderDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">收貨人姓名</label>
                <input asp-for="UserName" class="form-control" asp-items="ViewBag.OrderDetailId" />
                <span asp-validation-for="OrderDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPhone" class="control-label">收貨人電話</label>
                <input asp-for="UserPhone" class="form-control" asp-items="ViewBag.OrderDetailId" />
                <span asp-validation-for="OrderDetailId" class="text-danger"></span>
            </div>
            <br />
            <input type="hidden" asp-for="OrderId" asp-items="ViewBag.OrderId" />
            <input type="hidden" asp-for="ProductId" asp-items="ViewBag.ProductId" />

            <div class="form-group">
                <input type="submit" onclick="showSweetAlert(event)" value="儲存" class="btn btn-primary" />|
            <a asp-action="Index">回首頁</a>
            </div>     
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function showSweetAlert(event) {
            event.preventDefault();
            Swal.fire({
                title: '確定要修改嗎?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.forms[0].submit();
                }
            });
        }
    </script>
}
